@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

html, body{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a, li{
    text-decoration: none;
    list-style: none;
    color: black;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
h1,h2,h3,p{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
}
.inner-header{
    width: 70%;
}
.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}
.account {
    position: relative;
    display: inline-block;
}
.account i{
    font-size: 10px;
}

.dropdown-content {
    display: none;
    width: 120px;
    position: absolute;
    background-color: #FFF;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
.account-button-dropdown{
    display: flex;
    width: 120px;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    background-color: #111;
    color: #FFF;
    border-radius: 20px;
    padding: 5px 20px;
}

.wrapper{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.card-info{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.card-info .card{
    height: 70px;
    text-align: center;
    padding: 50px 80px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.card-info .card:hover{
    background-color: #ddd;
}
.card-info .card p{
    font-size: 1.2vw;
}
.card-info .card i{
    font-size: 30px;
}
.card-category{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.card-category .card{
    margin-right: 20px;
    padding: 50px 80px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
progress {
    border-radius: 10px; 
    width: 250px;
    margin-bottom: 5px;
    height: 15px;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
  }
  progress::-webkit-progress-bar {
    background-color: #FFF;
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: #111;
    border-radius: 7px;
  }
  .progress-title{
      display: flex;
      justify-content: space-between;
      font-size: 12px;
  }
  #posts {
    border-radius: 10px;
    border-collapse: collapse;
    width: 100%;
  }
  
  #posts td, #posts th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #posts tr:nth-child(even){background-color: #f2f2f2;}
  
  #posts tr:hover {background-color: #ddd;}
  
  #posts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #111;
    color: white;
  }

  .card-histogram{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .card-histogram .card{
    margin-right: 20px;
    padding: 50px 80px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
} */
caption{
    float: left;
    margin: 10px 0px;
}