{% extends 'index.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
    <a href="/">Home</a>

    <h2>{{ account.name }}</h2>

    {% if check_follow %}
    <form action="{{ url_for('unfollow') }}" method="post">
        <input type="hidden" name="author_id" value="{{ account.id }}">
        <button>Unfollow</button>
    </form>
    {% else %}
    <form action="{{ url_for('follow') }}" method="post">
        <input type="hidden" name="author_id" value="{{ account.id }}">
        <button>Follow</button>
    </form>
    {% endif %}

    <div class="posts">
        {% for post in posts %}
            <article>
                <img src="{{ post.image_path }}" width="200px" alt="{{ post.image_id }}">
                <a href="/post/{{ post.id }}">
                    {{ post.title }} | {{ post.category_name }}
                </a>
            </article>
        {% endfor %}
    </div>
{% endblock body %}