{% extends 'index.html' %}

{% block title %}{{ url_for(request.endpoint)[1:]|title }}{% endblock title %}

{% block body %}

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" data-aos-easing="slide"
    data-aos-duration="800" data-aos-delay="0">
    <div class="site-wrap">
        {% include 'includes/header.html' %}

        <div class="site-section">
            {% if accounts|length == 0 %}

            <div class="d-flex justify-content-center align-items-center flex-column mt-3">
                <img width="500px"
                    src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/k-9-m-185_0.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=bc7e278b8b9e1ef5a6dcdd64f1574a63"
                    alt="No data" style="border-radius: 50%;">
                <span class="mt-5">No Data.</span>
                <a href="/accounts">Start connection with someone</a>
            </div>

            {% else %}

            <div class="d-flex justify-content-center align-items-center flex-column mt-3">
                <div class="d-flex justify-content-center align-items-start flex-column">
                    <h2 class="mb-5">{{ url_for(request.endpoint)[1:]|title }}</h2>

                    <div>
                        {% for account in accounts %}
                        <div class="d-flex flex-row justify-content-md-between align-items-center"
                            style="min-width: 500px">
                            <a href="/account/{{ account.id }}">
                                {% if not account.image_path %}
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/450px-No_image_available.svg.png"
                                    alt="Image" class="img-fluid mr-3"
                                    style="border-radius: 50%; min-width: 50px; width: 50px; height: 50px;">
                                {% else %}
                                <img src="{{ account.image_path }}" alt="Image" class="img-fluid mr-3"
                                    style="border-radius: 50%; min-width: 50px; width: 50px; height: 50px;">
                                {% endif %}

                                <span style="color: black; font-weight: 500;">{{ account.name }}</p>
                            </a>
                            <a href="/account/{{ account.id }}">
                                <button class="btn mb-3"
                                    style="color: black; border: 1px black solid; background: #fff;">
                                    View profile
                                </button>
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                </div>

            </div>

            {% endif %}
        </div>

        {% include 'includes/pagination.html' %}
    </div>
</body>

{% endblock body %}