{% extends 'index.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
    <a href="/">Home</a>
    <a href="/signup">Sign up</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
    <a href="/accounts">Accounts</a>
    <hr>
    <div class="categories">
        {% for category in categories %}
            <article>
                <a href="/c/{{ category.id }}">
                    {{ category.name }}
                </a>
            </article>
        {% endfor %}
    </div>
    <hr>
    <div class="accounts">
        {% for account in accounts %}
            <article>
                <a href="/a/{{ account.id }}">
                    {{ account.name }}
                </a>
            </article>
        {% endfor %}
    </div>

{% endblock body %}
