{% extends 'index.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" data-aos-easing="slide"
    data-aos-duration="800" data-aos-delay="0">
    <div class="site-wrap">
        {% include 'includes/header.html' %}

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 mr-auto">
                        <div class="account-info mb-3">
                            {% if not account.image_path %}
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/450px-No_image_available.svg.png"
                                alt="Image" class="img-fluid mr-3"
                                style="border-radius: 50%; min-width: 50px; width: 50px; height: 50px;">
                            {% else %}
                            <img src="{{ account.image_path }}" alt="Image" class="img-fluid mr-3"
                                style="border-radius: 50%; min-width: 50px; width: 50px; height: 50px;">
                            {% endif %}

                            {{ account.name }}
                        </div>
                        {% if session['account'][0] != account.id %}
                        <div class="follow-btn">

                            {% if check_follow %}
                            <form action="{{ url_for('unfollow') }}" method="post">
                                <input type="hidden" name="author_id" value="{{ account.id }}">
                                <button class="btn btn-primary">Unfollow</button>
                            </form>
                            {% else %}
                            <form action="{{ url_for('follow') }}" method="post">
                                <input type="hidden" name="author_id" value="{{ account.id }}">
                                <button class="btn btn-primary">Follow</button>
                            </form>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-8 single-content">
                        {% if posts|length == 0 %}

                        <h1>No posts.</h1>

                        {% else %}

                        {% for post in posts %}
                        <div>
                            {% if post.image_path %}
                            <p class="mb-1">
                                <img src="{{ post.image_path }}" alt="Image" class="img-fluid"
                                    style="object-fit: none; object-position: left; height: 500px; width: 800px;">
                            </p>
                            {% else %}
                            <p class="mb-1 d-flex justify-content-center" style="background-color: #f8f9fa;">
                                <img src="{{ url_for('static', filename='images/no_image.png') }}" alt="Image"
                                    class="img-bg" style="object-fit: none; object-position: left; height: 400px;">
                            </p>
                            {% endif %}
                            <h1 class="mb-4">
                                <a href="/post/{{ post.id }}" style="color: black;">{{ post.title }}</a>
                            </h1>
                            <div class="post-meta d-flex mb-5">
                                <div class="bio-pic mr-3">
                                    {% if not account.image_path %}
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/450px-No_image_available.svg.png"
                                        alt="Image" class="img-fluid mr-3"
                                        style="border-radius: 50%; min-width: 50px; width: 50px; height: 50px;">
                                    {% else %}
                                    <img src="{{ account.image_path }}" alt="Image" class="img-fluid"
                                        style="border-radius: 50%; min-width: 50px; width: 50px; height: 50px;">
                                    {% endif %}
                                </div>
                                <div class="vcard">
                                    <span class="d-block">
                                        <a href="/account/{{ account.id }}">
                                            {{ post.account_name }}
                                        </a>
                                    </span>
                                    <span class="date-read">
                                        {{ post.created_date|strftime }}
                                    </span>
                                </div>
                            </div>
                            {% if post.content|length > 256 %}
                            {{ post.content[:256] }}...
                            {% else %}
                            {{ post.content[:256] }}
                            {% endif %}
                            <div class="pt-2 mb-5">
                                <p>Category: {{ post.category_name }}</p>
                            </div>
                            <hr />
                        </div>
                        {% endfor %}

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% include 'includes/footer.html' %}
    </div>
</body>

{% endblock body %}