{% extends 'index.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" data-aos-easing="slide"
    data-aos-duration="800" data-aos-delay="0">
    <div class="site-wrap">
        {% include 'includes/header.html' %}

        <div class="site-section">
            {% if posts %}
            {% for post in posts %}
            <div class="py-0 mb-3">
                <div class="container">
                    <div class="half-post-entry d-block d-lg-flex bg-light">
                        {% if post.image_path %}
                        <img class="img-bg" src="{{ post.image_path }}" alt="{{ post.image_id }}"
                            style="object-fit: none; object-position: center; height: 400px;">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/no_image.png') }}" alt="Image" class="img-bg"
                            style="object-fit: none; object-position: center; height: 400px;">
                        {% endif %}
                        <div class="contents">
                            <h2>
                                <a href="/post/{{ post.id }}">
                                    {% if post.title|length > 96 %}
                                    {{ post.title[:96] }}...
                                    {% else %}
                                    {{ post.title[:96] }}
                                    {% endif %}
                                </a>
                            </h2>
                            <p class="mb-3">
                                {% if post.content|length > 256 %}
                                {{ post.content[:256] }}...
                                {% else %}
                                {{ post.content[:256] }}
                                {% endif %}
                            </p>
                            <div class="post-meta">
                                <span class="d-block">
                                    <a href="/account/{{ post.account_id }}">
                                        {{ post.account_name }}
                                    </a>
                                </span>
                                <span class="date-read">
                                    {{ post.created_date|strftime }}
                                </span>
                            </div>
                            <div>Category: {{ post.category_name }}</div>
                            <div>Views: {{ post.view_count }}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h2 class="d-flex justify-content-center">
                No Data
            </h2>
            {% endif %}
        </div>
        {% include 'includes/pagination.html' %}

        {% include 'includes/footer.html' %}
    </div>

</body>

{% endblock body %}