{% extends 'index.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" data-aos-easing="slide"
    data-aos-duration="800" data-aos-delay="0">
    <div class="site-wrap">
        {% include 'main/header.html' %}

        <div class="site-section">
            {% for post in posts %}
            <div class="py-0 mb-3">
                <div class="container">
                    <div class="half-post-entry d-block d-lg-flex bg-light">
                        {% if post.image_path %}
                        <img class="img-bg" src="{{ post.image_path }}" alt="{{ post.image_id }}"
                            style="object-fit: none; object-position: center; height: 400px;">
                        {% else %}
                        <img src="https://schools.stlucie.k12.fl.us/tch/files/2020/08/No_Image_Available.png"
                            alt="Image" class="img-bg"
                            style="object-fit: none; object-position: center; height: 400px;">
                        {% endif %}
                        <div class="contents">
                            <h2>
                                <a href="/post/{{ post.id }}">
                                    {{ post.title }}
                                </a>
                            </h2>
                            <p class="mb-3">
                                {{ post.content }}
                            </p>
                            <div class="post-meta">
                                <span class="d-block">
                                    <a href="/account/{{ post.account_id }}">
                                        {{ post.account_name }}
                                    </a>
                                </span>
                                <span class="date-read">
                                    {{ post.created_date|strftime }}
                                </span>
                            </div>
                            <div>Category: {{ post.category_name }}</div>
                            <div>❤ {{ post.like_count }}</div>
                            <div>👁‍🗨 {{ post.view_count }}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% include 'main/footer.html' %}
    </div>

</body>

{% endblock body %}