{% extends 'index.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" data-aos-easing="slide"
    data-aos-duration="800" data-aos-delay="0">
    <div class="site-wrap">
        {% include 'main/header.html' %}

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 single-content">
                        <p class="mb-1">
                            <img src="{{ images[0].path }}" alt="Image" class="img-fluid">
                        </p>
                        <div class="d-flex mb-5">
                            {% for image in images %}
                            <img src="{{ image.path }}" alt="Image" class="img-fluid" width="150px">
                            {% endfor %}
                        </div>
                        <h1 class="mb-4">
                            {{ post.title }}
                        </h1>
                        <div class="post-meta d-flex mb-5">
                            <div class="bio-pic mr-3">
                                <img src="./post_detail/person_1.jpg" alt="Image" class="img-fluidid">
                            </div>
                            <div class="vcard">
                                <span class="d-block"><a
                                        href="https://preview.colorlib.com/theme/meranda/blog-single.html#">Dave
                                        Rogers</a> in <a
                                        href="https://preview.colorlib.com/theme/meranda/blog-single.html#">News</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">•</span> 3 min read</span>
                            </div>
                        </div>
                        {{ post.content }}
                        <div class="pt-5">
                            <p>Categories: <a
                                    href="https://preview.colorlib.com/theme/meranda/blog-single.html#">Design</a>, <a
                                    href="https://preview.colorlib.com/theme/meranda/blog-single.html#">Events</a> Tags:
                                <a href="https://preview.colorlib.com/theme/meranda/blog-single.html#">#html</a>, <a
                                    href="https://preview.colorlib.com/theme/meranda/blog-single.html#">#trends</a>
                            </p>
                        </div>
                        <div class="pt-5">
                            <div class="section-title">
                                <h2 class="mb-5">6 Comments</h2>
                            </div>
                            <ul class="comment-list">
                                <li class="comment">
                                    <div class="vcard bio">
                                        <img src="./post_detail/person_1.jpg" alt="Image placeholder">
                                    </div>
                                    <div class="comment-body">
                                        <h3>Jean Doe</h3>
                                        <div class="meta">January 9, 2018 at 2:21pm</div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem
                                            laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe
                                            enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                                        </p>
                                    </div>
                                </li>
                            </ul>

                            <div class="comment-form-wrap pt-5">
                                <div class="section-title">
                                    <h2 class="mb-5">Leave a comment</h2>
                                </div>
                                <div class="form-group p-5 bg-light">
                                    <p class="d-flex"><a href="/login">Log in</a>&nbsp;first to share your ideas about
                                        posts</p>
                                </div>
                                <form action="https://preview.colorlib.com/theme/meranda/blog-single.html#"
                                    class="p-5 bg-light">
                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea name="" id="message" cols="30" rows="10"
                                            class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Post Comment" class="btn btn-primary py-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ml-auto">
                    </div>
                </div>
            </div>
        </div>

        {% include 'main/footer.html' %}
    </div>
</body>

{% endblock body %}