{% extends 'index.html' %}

{% block title %}Post detail{% endblock title %}

{% block body %}

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" data-aos-easing="slide"
    data-aos-duration="800" data-aos-delay="0">
    <div class="site-wrap">
        {% include 'main/header.html' %}

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-1 mr-auto">
                        <div>
                        <div id="like-box" class="follow-btn">

                        {% if session['logged_in'] %}
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <a id="like" style="cursor:pointer;">
                                {% if check_like and post.like_count > 0 %}❤{% else %}🤍{% endif %}
                                {{ post.like_count }}
                            </a>
                            <script>
                                let like = document.querySelector("#like");
                                let post_id = document.querySelector("[name=post_id]");
                                like.addEventListener('click', ()=> {
                                    fetch('/like?post_id='+post_id.value)
                                    .then(response => response.text())
                                    .then(function(result) {
                                        like.innerHTML = result;
                                    })
                                    .catch((error) => {
                                        console.error('Error:', error);
                                    });
                                });
                            </script>
                        {% else %}
                            <a href="{{ url_for('login', next=request.full_path) }}">
                                🤍
                                {{ post.like_count }}
                            </a>
                        {% endif %}

                        </div>
                        </div>
                        <div>👁‍🗨 {{ post.view_count }}</div>
                    </div>
                    <div class="col-lg-8 single-content">
                        {% if images|length %}
                        <p class="mb-1">
                            <img src="{{ images[0].path }}" alt="Image" class="img-fluid">
                        </p>
                        <div class="d-flex mb-5">
                            {% for image in images[1:] %}
                            <img src="{{ image.path }}" alt="Image" class="img-fluid mr-1" width="150px">
                            {% endfor %}
                        </div>
                        {% else %}
                        <p class="mb-1">
                            <img src="https://schools.stlucie.k12.fl.us/tch/files/2020/08/No_Image_Available.png"
                                alt="Image" class="img-bg"
                                style="object-fit: none; object-position: center; height: 400px;">
                        </p>
                        {% endif %}
                        <h1 class="mb-4">
                            {{ post.title }}
                        </h1>
                        <div class="post-meta d-flex mb-5">
                            <div class="bio-pic mr-3">

                                <img src="{{ post.image_path }}" alt="Image" class="img-fluid"
                                    style="border-radius: 50%; min-width: 50px; width: 50px; height: 50px;">
                            </div>
                            <div class="vcard">
                                <span class="d-block">
                                    <a href="/account/{{ post.id }}">
                                        {{ post.account_name }}
                                    </a>
                                </span>
                                <span class="date-read">
                                    {{ post.created_date|strftime }}
                                </span>
                            </div>
                        </div>
                        {{ post.content }}
                        <div class="pt-5">
                            <p>Category: {{ post.category_name }}</p>
                        </div>
                        <div class="pt-5">
                            <div class="comment-form-wrap pt-5 mb-5">
                                <div class="section-title">
                                    <h2 class="mb-5">Leave a comment</h2>
                                </div>
                                {% if session['logged_in'] %}
                                <form action="{{ url_for('add_comment') }}" method="post" class="p-5 bg-light">
                                    <div class="form-group">
                                        <input type="hidden" name="post_id" value="{{ post.id }}">
                                        <label for="message">Message</label>
                                        <textarea name="content" id="message" cols="30" rows="10"
                                            class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Post Comment" class="btn btn-primary py-3">
                                    </div>
                                </form>
                                {% else %}
                                <div class="form-group p-5 bg-light">
                                    <p class="d-flex">
                                        <a href="{{ url_for('login', next=request.full_path) }}">Log in</a>&nbsp;first
                                        to share your ideas about posts
                                    </p>
                                </div>
                                {% endif %}
                            </div>

                            <div class="section-title">
                                <h2 class="mb-5">{{ comments|length }} Comments</h2>
                            </div>
                            <ul class="comment-list">
                                {% for comment in comments %}
                                <li class="comment">
                                    <div class="vcard bio-pic">
                                        <img src="{{ comment.image_path }}" alt="Image placeholder"
                                            style="border-radius: 50%; width: 50px; height: 50px;">
                                    </div>
                                    <div class="comment-body">
                                        <h3>{{ comment.account_name }}</h3>
                                        <div class="meta">{{ comment.added_date|strftime }}</div>
                                        <p>{{ comment.content }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-1 ml-auto"></div>
                </div>
            </div>
        </div>

        {% include 'main/footer.html' %}
    </div>
</body>

{% endblock body %}