{% extends 'index.html' %}

{% block title %}Dashboard{% endblock title %}

{% block body %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_files/style.css') }}">

    <script defer src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script defer>const color = 'rgb(' + 0 + ',' + 0 + ',' + 0 + ')';</script>
    <script defer>
        const pie_python = {{ pie_data|tojson }};
        const pie_data = [{
            values: pie_python['values'],
            labels: pie_python['labels'],
            hoverinfo: 'label+percent',
            hole: .4,
            type: 'pie'
        }];

        const line_python = {{ line_trace|tojson }};
        const line_trace = {
            x: line_python['x'],
            y: line_python['y'],
            type: 'scatter',
            marker: {color: color}
        };

        const radar_python = {{ radar_data|tojson }};
        const radar_data = [{
            type: 'scatterpolar',
            r: radar_python['r'],
            theta: radar_python['theta'],
            fill: 'toself',
            marker: {color: color}
        }]
    </script>
    <script defer src="{{ url_for('static', filename='admin_files/piechart.js') }}"></script>
    <script defer src="{{ url_for('static', filename='admin_files/linedraw.js') }}"></script>
    <script defer src="{{ url_for('static', filename='admin_files/radar.js') }}"></script>
    <script defer src="{{ url_for('static', filename='admin_files/dropDown.js') }}"></script>
</head>

<body>
    <header class="header">
        <div class="inner-header">
            <div class="top-header">
                <h3 class="site-logo">Dashboard</h3>
                    <a href="/" class="site-logo">
                        <h3>Back to Home</h3>
                    </a>
            </div>
        </div>
    </header>
    <hr>
    <main>
        <div class="wrapper">
            <div class="card-info">
                <div class="card users d-flex align-items-center justify-content-center">
                    <i class="im im-users"></i>
                    <p>{{ accounts.number }} Total Users</p>
                </div>
                <div class="card posts d-flex align-items-center justify-content-center">
                    <i class="im im-speech-bubble-comments"></i>
                    <p>{{ comments.number }} Total Comments</p>
                </div>
                <div class="card posts d-flex align-items-center justify-content-center">
                    <i class="im im-note-o"></i>
                    <p>{{ posts.number }} Total Posts</p>
                </div>
            </div>

        </div>
        <div class="wrapper">
            <div class="card-category">
                <div id='pieDiv'>
                    <!-- Plotly chart will be drawn inside this DIV -->
                </div>
                <table id="posts">
                    <caption>Popular accounts</caption>
                    <tr>
                        <th>Account name</th>
                        <th>Followers</th>
                    </tr>
                    {% for popular_account in popular_accounts %}
                        <tr>
                            <td>{{ popular_account.account_name }}</td>
                            <td>{{ popular_account.followers_number }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="wrapper">
            <div class="card-histogram">
                <div id='lineDiv'>
                    <!-- Plotly chart will be drawn inside this DIV -->
                </div>
                <div id='radarDiv'>
                    <!-- Plotly chart will be drawn inside this DIV -->
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="card-histogram">
                <table id="posts">
                    <tr>
                        <caption>Popular posts</caption>
                        <th>Post title</th>
                        <th>Author</th>
                        <th>Date</th>
                    </tr>
                    {% for popular_post in popular_posts %}
                        <tr>
                            <td>{{ popular_post.title }}</td>
                            <td>{{ popular_post.account_name }}</td>
                            <td>{{ popular_post.created_date }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        </div>
    </main>
</body>

{% endblock body %}