{% extends 'index.html' %}

{% block title %}Dashboard{% endblock title %}

{% block body %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_files/style.css') }}">

    <script defer src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script defer>const color = 'rgb(' + 0 + ',' + 0 + ',' + 0 + ')';</script>
    <script defer src="{{ url_for('static', filename='admin_files/piechart.js') }}"></script>
    <script defer src="{{ url_for('static', filename='admin_files/linedraw.js') }}"></script>
    <script defer src="{{ url_for('static', filename='admin_files/radar.js') }}"></script>
    <script defer src="{{ url_for('static', filename='admin_files/dropDown.js') }}"></script>
</head>

<body>
    <header class="header">
        <div class="inner-header">
            <div class="top-header">
                <h3 class="site-logo">Dashboard</h3>
                    <a href="/" class="site-logo">
                        <h3>Back to Home</h3>
                    </a>
            </div>
        </div>
    </header>
    <hr>
    <main>
        <div class="wrapper">
            <div class="card-info">
                <div class="card users d-flex align-items-center justify-content-center">
                    <i class="im im-users"></i>
                    <p>85 Total Users</p>
                </div>
                <div class="card posts d-flex align-items-center justify-content-center">
                    <i class="im im-speech-bubble-comments"></i>
                    <p>245 Total Comments</p>
                </div>
                <div class="card posts d-flex align-items-center justify-content-center">
                    <i class="im im-note-o"></i>
                    <p>520 Total Posts</p>
                </div>
            </div>

        </div>
        <div class="wrapper">
            <div class="card-category">
                <div id='pieDiv'>
                    <!-- Plotly chart will be drawn inside this DIV -->
                </div>

                <table id="posts">
                    <caption>Popular accounts</caption>
                    <tr>
                        <th>Account name</th>
                        <th>Followers</th>
                    </tr>
                    <tr>
                        <td>Maria Anders</td>
                        <td>250</td>
                    </tr>
                    <tr>
                        <td>Christina Berglund</td>
                        <td>230</td>
                    </tr>
                    <tr>
                        <td>Francisco Chang</td>
                        <td>215</td>
                    </tr>
                    <tr>
                        <td>Roland Mendel</td>
                        <td>205</td>
                    </tr>
                    <tr>
                        <td>Maria Anders</td>
                        <td>185</td>
                    </tr>
                    <tr>
                        <td>Christina Berglund</td>
                        <td>160</td>
                    </tr>
                    <tr>
                        <td>Francisco Chang</td>
                        <td>152</td>
                    </tr>
                    <tr>
                        <td>Roland Mendel</td>
                        <td>148</td>
                    </tr>
                    <tr>
                        <td>Francisco Chang</td>
                        <td>130</td>
                    </tr>
                    <tr>
                        <td>Carlos Andera</td>
                        <td>124</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="wrapper">
            <div class="card-histogram">
                <div id='lineDiv'>
                    <!-- Plotly chart will be drawn inside this DIV -->
                </div>
                <div id='radarDiv'>
                    <!-- Plotly chart will be drawn inside this DIV -->
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="card-histogram">
                <table id="posts">
                    <tr>
                        <caption>Popular posts</caption>
                        <th>Post title</th>
                        <th>Author</th>
                        <th>Date</th>
                    </tr>
                    <tr>
                        <td>What is time?</td>
                        <td>Maria Anders</td>
                        <td>May 15</td>
                    </tr>
                    <tr>
                        <td>Light speed</td>
                        <td>Christina Berglund</td>
                        <td>Jan 30</td>
                    </tr>
                    <tr>
                        <td>Playing as soldier</td>
                        <td>Francisco Chang</td>
                        <td>Feb 05</td>
                    </tr>
                    <tr>
                        <td>Science is much more</td>
                        <td>Roland Mendel</td>
                        <td>Sep 21</td>
                    </tr>
                    <tr>
                        <td>What is time?</td>
                        <td>Maria Anders</td>
                        <td>May 15</td>
                    </tr>
                    <tr>
                        <td>Light speed</td>
                        <td>Christina Berglund</td>
                        <td>Jan 30</td>
                    </tr>
                    <tr>
                        <td>Playing as soldier</td>
                        <td>Francisco Chang</td>
                        <td>Feb 05</td>
                    </tr>
                    <tr>
                        <td>Science is much more</td>
                        <td>Roland Mendel</td>
                        <td>Sep 21</td>
                    </tr>
                    <tr>
                        <td>Ebay or Alibaba</td>
                        <td>Francisco Chang</td>
                        <td>Apr 03</td>
                    </tr>
                    <tr>
                        <td>Talking with politics</td>
                        <td>Roland Mendel</td>
                        <td>Sep 24</td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
    </main>
</body>

{% endblock body %}