<div class="header-top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 d-flex">
                <a href="/" class="site-logo">
                    Influence
                </a>
            </div>
            <div class="col-12 col-lg-6 ml-auto d-flex">
                <div class="ml-md-auto top-social d-none d-lg-inline-block"></div>
                <form action="/search" class="search-form d-inline-block">
                    <div class="d-flex">
                        <input type="search" name="q" class="form-control" placeholder="Search...">
                        <button type="submit" class="btn btn-secondary" style="background-color: #000;">
                            <img src="{{ url_for('static', filename='images/search.png') }}" width="15">
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-6 d-block d-lg-none text-right">
            </div>
        </div>
    </div>
    <div id="sticky-wrapper" class="sticky-wrapper" style="height: 54.6px;">
        <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner"
            style="width: 100%;">
            <div class="container">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <nav class="site-navigation position-relative text-center" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                                <li class="active">
                                    <a href="/" class="nav-link text-left">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    {% if session['logged_in'] %}
                                    <a href="/other" class="nav-link text-left">
                                        Other posts
                                    </a>
                                    {% endif %}
                                </li>
                                <li>
                                    <div class="dropdown nav-link">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Categories
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            {% for category in categories %}
                                            <a href="/category/{{ category.id }}" class="dropdown-item">
                                                {{ category.name }}
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    {% if session['logged_in'] %}
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Menu
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="/create-post">+ Add new post</a>
                                            <a class="dropdown-item" href="/account/{{ session['account'][0] }}">My posts</a>
                                            <a class="dropdown-item" href="/accounts">Accounts</a>
                                            <a class="dropdown-item" href="/followers">Followers</a>
                                            <a class="dropdown-item" href="/authors">Authors</a>
                                            <a class="dropdown-item" href="/admin">Dashboard</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/logout">Log out</a>
                                        </div>
                                    </div>
                                    {% else %}
                                    <a href="/login">
                                        <button class="btn btn-primary" type="button">
                                            Sign in
                                        </button>
                                    </a>
                                    <a href="/signup">
                                        <div class="btn"
                                            style="color: black; border: 1px black solid; background: #fff;">
                                            Sign up
                                        </div>
                                    </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>