{% extends 'index.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
    {% for err in err_msg %}
    <div>
        {{ err }}
    </div>
    {% endfor %}
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/signup.css') }}">
    <form method="post">
        <h2>Sign up</h2>
        <input type="email"    name="email"            placeholder="Email"            required>
        <input type="text"     name="username"         placeholder="Username"         required>
        <input type="password" name="password"         placeholder="Password"         required>
        <input type="password" name="password_confirm" placeholder="Password confirm" required>
        <button>Sign up</button>
    </form>
{% endblock body %}
